body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
    background-color: #ca8a8b;
    padding: 20px;
    height: 100px;
}

.container-align-bar{
    display: block;
    width: 50%;
    margin: auto;

}

.container-align-bar h1{
    font-size: 30px;
    color: brown;
}

.logo {
    display: inline-block;
}

.hamburger {
    display: inline-block;
    float: right;
    margin-top: 2px;
}

.hamburger a {
    color: antiquewhite;
    font-size: 20px;
    list-style: none;
    text-decoration: none;
    float: left;
    margin-left: 70px;
    padding: 10px;
}
.hamburger a:hover{
    color: #114e60;
} 


.hamburger a::after{
    color: antiquewhite;
}

.hero{
    width: 100%;
    height: 100%;
    background-image: url('offwhite.jpeg') ;
    opacity: 0.8;
}

.dummyText {
    display: inline-block;
    text-align: center;
    color: white;
    margin-top: 250px;
    margin-left: 150px;

}

.dummyText h1{
    margin-top: 0;
    width: 60%;
}

.dummyText p {

text-align: left;
}

button {
    margin-top: 20px;
    padding: 12px;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    margin-left: 150px;
    background-color: white;
}
